@media(max-width: 759px) {
  .wrapper {
    min-height: 60vh;
    text-align: center;
    margin: auto;  
  }
  .container {
    height: 100vh;
    display: flex;
    align-items: center;  
    background-size: 100%;  
  }
}

@media(min-width: 760px) {
  .wrapper {
    min-height: 100vh;
    text-align: center;
    position: absolute;
    border-radius: 0;
    right: 0;
  }

  .container {
    height: 100vh;
    display: flex;  
    align-items: center;
    margin-left: -15px;
    background-image: url('/assets/images/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 0;
  }
}
.button {
  position: absolute;
  top: 50%;
}

.form-field {
  width: 200px;
}

.card {
  max-width: 400px;
}

mat-form-field {
  padding-bottom: 20px;
}

button {
  margin-top: 20px;
}

button:disabled {
  cursor: not-allowed;
}
