.login-container {
  min-height: 100vh;
  background-color: slategray;
}
.custom-container {
  min-height: calc(100vh - 128px);
  height: auto;  
}
.app-container {
  display: flex;
  flex-direction: column;
}
.logout {
  position: absolute;
  right:10px;  
}
a.appname {
  margin-left: 8px;
}
a.logout {
  color: #25292C;
  text-decoration: none;
}
a.appname {
  color: #FFFFFF;
  text-decoration: none;
}
a.logout:active {
  color:white;
  background-color: red;
  text-decoration: none;
}
a.logout:hover {
  color:white;
  background-color: red;
  text-decoration: none;
}
.sidebar {
  background-color: #EAEBEF;
}
.node-name {
  float: left;
  display: block;
  min-width: 150px;
  margin-left: 10px;
}
.node-icon {  
  float: left;  
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
.example-tree {
  background-color: #EAEBEF;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
.example-tree-invisible {
  display: none;
}
.example-tree ul,
.example-tree li {
  margin-top: 0;  
  margin-bottom: 0;
  list-style-type: none;
}

