@media (min-width: 800px) {
  .todo-container {
    display: flex;
    justify-content: space-between;
  }
}

.todo-container {  
  margin: 10px auto;
}

.todos {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
}

.pending {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
}

.completed {
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  flex-basis: 33%;
}
