<div class="notes-container">  
  <div class="add-new">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>Add New</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>     
    </mat-card>
  </div>
  <div class="journal">
    <mat-card class="grid-list-item">
      <mat-card-header>        
        <mat-card-title>Journal</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>      
    </mat-card>
  </div>
  <div class="novel">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>Novel</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="recepies">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>Recepies</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>     
    </mat-card>
  </div>
  <div class="school">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>School</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>     
    </mat-card>
  </div>
  <div class="work">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>Work</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>  
    </mat-card>
  </div>
  <div class="bills">
    <mat-card class="grid-list-item">
      <mat-card-header>
        <mat-card-title>Bills</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>     
    </mat-card>
  </div>  
</div>