.fill-remaining-space {
  flex: 1 1 auto;
}

.app-container {
  display: flex;
  flex-direction: column;  
  position: absolute;
  top: 50px;
  bottom: 0px;
  left: 0;
  right: 0;
  background-color: #25292C;
}

.toolbar-header {
  position: fixed;
  z-index: 2;
}

h1.app-name {
  margin-left: 8px;
}

.container {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.sidenav {
  padding: 20px;
}

.wrapper {
  text-align: center;
  margin: 10px auto;
}

.card {
  max-width: 400px;
}

.float-right {
  position: absolute;
  right:10px;  
}

a {
  color: #25292C;
  text-decoration: none;
}

a:active {
  color:white;
  background-color: red;
  text-decoration: none;
}

a:hover {
  color:white;
  background-color: red;
  text-decoration: none;
}

.list-button {
  width: 150px;
}