<mat-toolbar color="primary" class="toolbar-header">  
  <button mat-icon-button (click)="drawer.toggle()"><mat-icon>menu</mat-icon></button>
  <h1 class="app-name">Simpleapps Zero</h1>
  <a [routerLink]="['/login']" class="float-right" mat-raised-button>Logout</a>
</mat-toolbar>

<mat-drawer-container class="app-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side">    
    <mat-list>
      <h3 matSubheader>Organizers</h3>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My To-Dos
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My Notes
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My Time
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My Journal
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My People
        </button>
      </mat-list-item>
      <mat-list-item>
        <button class="list-button" (click)="checkbutton()" mat-raised-button>
          My Dates
        </button>
      </mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
    <mat-list>
      <h3 matSubheader>Files</h3>
      <mat-list-item>
        <mat-icon matListIcon>folder</mat-icon>
        <h6 matLine>My Documents</h6>
        <p matLine>Size: 15gb </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder2</mat-icon>
        <h6 matLine>My Photos</h6>
        <p matLine>Size: 20gb</p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder3</mat-icon>
        <h6 matLine>My Videos</h6>
        <p matLine>Size: 50gb </p>
      </mat-list-item>
      <mat-list-item>
        <mat-icon matListIcon>folder3</mat-icon>
        <h6 matLine>My Projects</h6>
        <p matLine>Size: 50gb </p>
      </mat-list-item>
    </mat-list>
  </mat-drawer>
  <div class="sidenav-content">
    <mat-card class="card wrapper">
      <mat-card-title>
        Welcome, {{loginService.loggedinUser}}
      </mat-card-title>
    </mat-card>
  </div>
</mat-drawer-container>
