.grid-list {
  display: flex;
  margin: 0 auto;  
  flex-direction: column;  
}
.row-1 {
  flex: 1;
  display: flex;  
  flex-direction: row;  
}
.row-2 {
  flex: 1;
  display: flex;
  flex-direction: row;
}
.grid-list-item {
  flex: 1;
  min-height: 36.5vh;  
  margin: 2vh 10px;  
}