<div class="todo-container">  
  <div class="todos">
    <mat-card>
      <mat-card-header>        
        <mat-card-title>List</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>      
    </mat-card>
  </div>
  <div class="pending">
    <mat-card>
      <mat-card-header>
        <mat-card-title>On going</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card>
  </div>
  <div class="completed">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Completed</mat-card-title>        
      </mat-card-header>
      <mat-card-content>
        
      </mat-card-content>     
    </mat-card>
  </div>
</div>