.wrapper {
  text-align: center;
  margin: 10px auto;
}
.container {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  position: absolute;
  top: 50%;
}

.form-field {
  width: 200px;
}

.card {
  max-width: 400px;
}

mat-form-field {
  padding-bottom: 20px;
}

button {
  margin-top: 20px;
}

button:disabled {
  cursor: not-allowed;
}
