<div class="container">  
  <mat-card class="card wrapper">
    <mat-card-title>
      Welcome to {{ title }}
    </mat-card-title>
    <mat-divider></mat-divider><br>
    <mat-card-content>
      <form [formGroup]="signupForm" (ngSubmit)="signup()">    
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Name" formControlName="name">          
          <mat-error *ngIf="name.invalid && submitted || (name.invalid && !submitted && ( name.dirty || name.touched ))">
            Name is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="(name.dirty || name.touched) && name.invalid && !name.errors.required">
            Please enter a valid name
          </mat-error>
          <button mat-button *ngIf="signupForm.value.name" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.get('name').setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Email" formControlName="email">
          <mat-error *ngIf="email.invalid && submitted || (email.invalid && !submitted && ( email.dirty || email.touched ))">
            Email is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="(email.dirty || email.touched) && email.invalid && !email.errors.required">
            Please enter a valid email address
          </mat-error>
          <button mat-button *ngIf="signupForm.value.email" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.get('email').setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="Password" formControlName="password">
          <mat-error *ngIf="password.invalid && submitted || (password.invalid && !submitted && ( password.dirty || password.touched ))">
            Password is <strong>required</strong>
          </mat-error>
          <mat-error *ngIf="(password.dirty || password.touched) && password.invalid && !password.errors.required">
            Please enter a valid password
          </mat-error>
          <button mat-button *ngIf="signupForm.value.password" matSuffix mat-icon-button aria-label="Clear" (click)="signupForm.get('password').setValue('')">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field><br>
        <button mat-raised-button type="submit" class="float-center btn btn-success" [disabled]="signupForm.invalid">Sign Up!</button>
      </form><br>
    </mat-card-content>
    <mat-card-actions>
      <label>Already have an account? </label><a class="btn" [routerLink]="['/login']">Sign In</a><br>
      <a class="btn" [routerLink]="['/login']">Sign in with Google</a>
    </mat-card-actions>
  </mat-card>  
</div>
